*   {
    margin: 0;
}
header {
    background-color: rgb(186, 24, 235);
    
    padding: 2em;
    text-align: left;
    height: 30px;
 }
main {
    background-color: rgb(34, 209, 150);
   
    text-align: left;
    margin-left: 0%;
    height: 450px;
}


  footer {
    background-color: rgb(186, 24, 235);
    padding: 20 ;
    }

    .table {
        border:5px;
        border-color: rgb(15, 15, 15);
        border-radius: 5%;
        background-color: black;
    }

    .tr{
        border: 3px;
        border-color: black;
        background-color: rgb(49, 240, 119);

    }
    
    .button button  {
        background-color: rgb(53, 236, 29);
        color:white;
        padding: 10px 20px;
        margin: 0 10px;
        border:none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;


    }
   